body {
  background-color: slateblue; }

header {
  text-align: center;
  background-color: burlywood; }
  header h1 {
    color: crimson;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  header h3 {
    color: darkcyan;
    font-family: Arial, Helvetica, sans-serif; }
  header p {
    color: darkred;
    font-family: 'Courier New', Courier, monospace; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(231, 170, 57, 0.5); }
  nav a {
    text-decoration: none;
    color: tomato; }

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  section div {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(253, 253, 253, 0.5); }
